


.input-group{
    width: 100%;
    text-align: center;
    padding: 0px 10px 0px 10px;
}
.col-lg-8{
    padding: 0;
}
.row{
    padding: 0;
    width: 90%
}
.jumbotron{
    color:black;
    background-color: yellow
    /*border: 2px solid;*/
}

h1{
    text-align: center;
}

h2{
    font-weight: 700;
    
}
label{
    padding: 0px 10px 0px 10px;
}

.panel-default{
  margin: auto;
}

.panel-heading{
    background-color: yellow 
    border: 2px solid; 
 /* background-color: #eee;*/  
}

th{
    font-weight: 700;
}
.panel{
    margin: auto;
    border: 2px solid;
}

#button{
    margin: 10px;
    background-color: white;
    font-weight:700;
    border: 2px solid #eee;
}

